@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    /* --blue : #287bff; */
    --blue: #146356;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --dark1: #121212;
    --dark2: #1F1B24;
    --dark3: #064663;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
    transition: 0.5s;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;


}

/* .navigation ul li span{
    justify-items: center;
} */

.navigation ul li.hovered,
.navigation ul li:hover {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li:nth-child(2) {
    /* margin-bottom: 40px; */
    /* pointer-events: none; */
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
}

span.cc {
    position: absolute;
    display: block;
    /* left: 0; */
    right: 43px;
    top: 60;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    padding: 0px 5px;
    color: var(--blue);
}

.navigation ul li.hovered a span.cc {
    background: var(--blue);
    color: var(--white);
}

.navigation.active ul li a span.cc {
    top: 10px;
    right: 8px;
}

.navigation ul li.hovered a,
.navigation ul li:hover a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-height: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    padding-left: 5px;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 22px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */
.navigation ul li.hovered a::before,
.navigation ul li:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
    z-index: 3000;
}

.navigation ul li.hovered a::after,
.navigation ul li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -29px 0 10px var(--white);
    pointer-events: none;
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    background: var(--blue);

    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.toggle ion-icon {
    color: var(--white);
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100px;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    padding-left: 35px;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.5em;
}

.user {
    position: relative;
    width: 40px;
    /* min-width: 40px; */
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;

}

.cardBox .card .iconBx {
    font-size: 3.5em;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tr:hover {
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}

span.cssNew {
    padding: 2px 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.infori {
    position: relative;
    width: 100%;
    padding: 20px;
    background: var(--white);
    /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 10px;
}

.infori .infori-awal {
    font-size: 25px;
}

.infori .infori-akhir {
    position: absolute;
    right: 20px;
}

.infori p a {
    text-decoration: none;
    color: var(--blue);
}

.details.produk {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
    /* background-color: #1795ce; */
}

.details.produk .recentOrders {
    position: relative;
    display: grid;
    min-height: 0;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.btn.btn-edit {
    position: relative;
    padding: 5px 10px;
    background: #cea433;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    display: block;
    text-align: center;
    /* width: 100px; */
    margin: 2px 0;
}

.btn.btn-hapus {
    position: relative;
    padding: 5px 10px;
    background: #ec0000;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    display: block;
    text-align: center;
    /* width: 100px; */
    margin: 2px 0;
}

.btn.btnTambah {
    position: relative;
    padding: 10px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    margin-left: 20px;
}

.btn.btnSubmit {
    position: relative;
    padding: 10px 10px;
    background: #4a00f7;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    border: none;
}

.btn.btnCreate {
    position: relative;
    padding: 10px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

td.table-action {
    width: 89px;
}

input.form-produk,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--blue);
    border-radius: 4px;
    box-sizing: border-box;
}

input.form-produk:focus

/* textarea:focus, */
/* select:focus  */
    {
    outline: #86e489 solid 1px;
}

input.form-produk.invalid:focus {
    /* outline: #e48686 solid 1px; */
    outline: none;
}

input.form-produk.invalid

/* textarea:focus, */
/* select:focus  */
    {
    border: 1px solid #d82a13;
}

.form-input-gambar {
    display: flex;
}

.input-gambar {
    width: 55%;
}

.block-input-gambar {
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;

}



.laber-gmbr {
    width: 100%;
}

.priview-gambar img {
    height: 100px;
    object-fit: cover;
}

.priview-gambar {
    margin: 0 20px;
    min-width: 30%;
}


/* modal priview image */

/*Image modal*/

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
    z-index: 999;
    overflow: hidden;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modal img {
    /* width: 50%; */
    height: 100%;
    object-fit: cover;
    /* overflow: hidden; */
}

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}

.gambar_item {
    max-width: 80px;
}

/* responsive */

@media(max-width:991px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders .cardHeader {
        overflow-x: unset;
    }

    .recentOrders {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }

}


@media(max-width:480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
        /* max-width:480px ; */
        /* opacity: 0.4; */

    }

    .main .toggle {
        z-index: 1000;
        /* left: 0; */
        /* transition: 2S; */
        /* scale: 0.2; */
        /* transition-duration: 5s;*/



    }

    .main.active {
        left: 0;
    }

    @keyframes ss {
        from {
            width: 0;
        }

        to {
            width: 60px;
        }
    }

    .main.active .toggle {
        position: fixed;
        color: var(--blue);
        /* transition: 2s ease all; */
        animation: ss 0.5s ease-in;
        right: 0;
        margin: 4px;
        background: var(--white);
    }

    .main.active .toggle ion-icon {
        color: var(--blue);
    }

}

/* darkmode */
.mode {
    position: relative;
    z-index: 1100;
}

.mode.hh {
    background-color: var(--blue);
}

.navigation ul li:nth-child(2) {
    margin-bottom: 20px;
    /* pointer-events: none; */
}

.navigation ul li.mode:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: none;
    pointer-events: none;
}

.navigation ul li.mode:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: none;
    pointer-events: none;
}

#mode.mode.hh:hover {
    background: var(--blue);
    color: rgb(202, 21, 21);
    /* z-index: 2000; */
}

#mode.mode.hh:hover a {
    background: var(--blue);
    color: var(--white);
}

.navigation ul .mode li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: visiblePainted;
}

/* dark btn */
.switch {
    position: absolute;
    display: inline-block;
    width: 62px;
    height: 30px;
    z-index: 2000;
    right: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f1f4f7;
}

input:checked+body {
    background-color: #dfe3e6;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f8fcff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.navigation.active ul li a label.switch {
    position: relative;

}

.dark-theme h4 {
    color: var(--white);
}

.main.dark-theme {
    background-color: var(--dark1);
}

.main.dark-theme .recentOrders {
    background: var(--dark2);
}

.main.dark-theme .recentOrders h2 {
    color: var(--white);
}

.main.dark-theme .recentOrders td {
    color: var(--white);
}

.navigation.dark-theme {
    background: var(--dark2);
    border-left: 10px solid var(--dark1);
}

.navigation.dark-theme ul li.mode.hh {
    background: var(--dark2);
}

.navigation.dark-theme ul li#mode.mode.hh:hover {
    background: var(--dark2);
    color: rgb(202, 21, 21);
    /* z-index: 2000; */
}

ul li.mode.hh {
    transition: 0.01s;
}

.navigation.dark-theme {
    transition: 0.01s;
}

.navigation.dark-theme ul li#mode.mode.hh:hover a {
    background: var(--dark2);
    color: var(--white);
}

.navigation ul li#mode.mode.hh a .icon ion-icon {
    transform: rotate(90deg);
}


.navigation.dark-theme .slider:before {
    background-color: var(--dark2);
}

.navigation.dark-theme .menu.hovered .title {
    /* background-color: var(--dark2); */
    color: var(--dark1);
}

.navigation.dark-theme .menu.hovered .icon {
    /* background-color: var(--dark2); */
    color: var(--dark1);
}

.main.dark-theme .topbar .toggle {
    background-color: var(--white);
}

.main.dark-theme ion-icon {
    color: var(--dark2);
}

.main.dark-theme .cardBox .card .numbers {
    color: var(--dark1);
}

.main.dark-theme .cardBox .card:hover {
    background: var(--dark2);
}

.main.dark-theme .cardBox .card:hover .numbers {
    color: var(--white);
}

.main.dark-theme .cardBox .card:hover .iconBx ion-icon {
    color: var(--white);
}

.main.dark-theme .details .cardHeader .btn {
    background-color: var(--dark1);
}

.main.dark-theme .details .recentOrders table tr:hover {
    background: var(--white);
}

.main.dark-theme .details .recentOrders table tr:hover td {
    /* background: var(--dark2);
     */
    color: var(--dark2);
    cursor: pointer;
}

.main.dark-theme .details .recentCustomers table tr:hover td h4 span {
    color: var(--dark2);
}

.main.dark-theme .details .recentCustomers {
    background: var(--dark2);
}

.main.dark-theme .details .recentCustomers .cardHeader h2 {
    color: var(--white);
}